<div class="modal fade" id="exerciseDetail" tabindex="-1" role="dialog" aria-labelledby="exerciseDetailLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{exercise.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{'instructions:'}}</h5>
        <p>{{exercise.instructions}}</p>
        <ng-container *ngIf="screenWidth <= 450">
          <h5>Type</h5>
          <p>{{exercise.type}}</p>
        </ng-container>
        <ng-container *ngIf="screenWidth <= 550">
          <h5>Difficulty</h5>
          <p>{{exercise.difficulty}}</p>
        </ng-container>
        <h5>Equipment:</h5>
        <ul>
          <li>{{exercise.equipment}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
