<div class="m-2">
    <div class="col-md-12">
      <h1>Welcome to Trepper!</h1>
      <!--<camera></camera>-->
      <div>
        <h2>Logger</h2>
        <p>If you want to start logging your workouts, check out our logger by clicking this button!</p>
        <button class="btn btn-primary" routerLink="/logger">Logger</button>
      </div>
      <div>
        <h2>Exercises</h2>
        <p>If you are having trouble finding the right exercise, consider checking out our extensive list of exercises!</p>
        <button class="btn btn-primary" routerLink="/exercises">Exercises</button>
      </div>
    </div>
</div>
